.newlogpage{
    display: inline-block;
    margin-left: var(--sidenav-size);
    width: var(--page-size);
    height: 100vh;
    z-index: 5;
    position: relative;
  }

.input-container{
  max-width: 750px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  margin: 0 auto;
}

.input{
  margin: 15px 0;
}

.date-input{
  width: 150px;
}

.time-input{
  width: 150px;
}

.title-input{
  padding: 10px;
  font-size: 24px;
}

.notes-input{
  height: 150px;
  max-height: 250px;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}

.slider-value{
  text-align: center;
  font-size: 24px;
}

.exercises-dropdown-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 1px 4px;
  cursor: pointer;
}

.submit-btn{
  background-color: var(--secondary);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 1px 4px;
}


.add-exercise{
  background-color: var(--secondary);
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 1px 4px;
}
.add-exercise-icon{
  font-size: 24px;
  color: #fff;
  margin-left: 10px;
}

.exercises{
  padding: 10px 25px;
}
.exercises p{
  border-bottom: solid 1px lightgrey;
}

.add-exercise-modal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 100;
}

.add-exercise-title{
  text-align: center;
}



.add-exercise-modal{
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-exercise-inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.exercise-buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.exercise-button{
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 1px 4px;
  cursor: pointer;

}

.new-log-header{
  background-color: white;
  padding: 50px 50px 0px 50px;
  width: 100%;
  display: flex;
  align-items: center;
}


  .colored{
    background-color: var(--secondary);
    color: #fff;
  }
.add-icon{
  color: var(--secondary);
  font-size: 24px;
}

  @media screen and (max-width: 700px){
    .newlogpage{
        margin-left: 0;
        width: 100%;
    }

    .input-container{
      padding: 25px;
    }
    .new-log-header{
      background-color: var(--secondary);
      justify-content: center;
      padding: 25px;
    }

    .log-title{
      text-align: center;
    }

    .add-exercise-modal-wrapper{
      position: fixed;
    }
}