.profile-page{
    display: inline-block;
    margin-left: var(--sidenav-size);
    width: var(--page-size);
    height: 100vh;
    padding: 50px 50px;
}

.profile-form{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.profile-title{
    margin-bottom: 25px;
}